In [3]:
class Student(object):
    
    def __init__(self,name,grade):
        self.name = name
        self.grade = grade
        
kitty = Student('flux','D')
daniel = Student('Damiel', 'C')
print(kitty.name) #self.name --- here self is for name KITTY AND DANIEL! 
print(daniel.name)
print(kitty.grade) 
print(daniel.grade)

flux
Damiel
D
C

# claver programmer has multiple sections for python and its gonna be the LIT and I am doing this now to make my python skills stronger!! LETS DOOOO THISSSSSSSSSSSSSSSSS!

# code academy! 01

In [4]:
print('hello fluxsuba!')

hello fluxsuba!

In [5]:
#variables!
a = 1
name = 'flux'
floats = 0.1

In [6]:
#true false! 
a = True
b = False

In [8]:
my_int = 7
my_int = 3
print(my_int)

3

In [9]:
def func():
    eggs = 12

    print(eggs)
func()

12

In [10]:
#WHITESPACE___INDENTATION!

In [13]:
meal = 44.50
tax = .0675
tip = 15/100.0

meal = meal + (meal * tax)
total = meal + (meal * tip)

print('%.2f'%total)

54.63

In [5]:
x = 'flux'[2]
print(x)

u

In [6]:
#str it converts the variable into string! 
x = 5
y =str(x)
y

'5'

# # code academy! 02

In [10]:
string1 = 'flux' # %s   %(s1)
string2 ='suba'
add = print('hello the two names are %s and %s '%(string1,string2))
add

hello the two names are flux and suba

In [14]:
n1 = 'flux'
n2 = 'suba'
print('hello %s and %s'%(n1,n2))

hello flux and suba

In [15]:
from datetime import datetime
print(datetime.now())

2020-09-02 15:36:00.195222

In [16]:
past = datetime.now()
past

datetime.datetime(2020, 9, 2, 15, 36, 40, 544530)

In [17]:
datetime.now() - past #it checks the different btw old and newy modified one!

datetime.timedelta(seconds=26, microseconds=335506)

In [26]:
now = datetime.now() #string substitution! 
year = now.year
month = now.month
data = now.day
print('date is %s/%s/%s'%(data,month,year))

date is 2/9/2020

In [42]:
#in this ! 
now = datetime.now()
hour = datetime.hour
sec = datetime.second
mins = datetime.minute
print('%s'%(now.hour))
print('%s'%(now.second))
print('%s'%(now.minute))

15
9
57

In [44]:
True and False

False

In [45]:
True or False

True

In [46]:
False and False

False

In [47]:
True or True
True or False
False or True 
False or False

False

In [50]:
not True is False

True

In [51]:
True is False

False

In [52]:
False is False

True

In [53]:
True is True

True

# Codecademy Python Tutorial #22

In [10]:
#for loop ! 
x = 'flux'
for i in x:
    for j in x:
        print(j, end = " ")
        
print('\n')
        
y = 'suba'
for i in y:
    print(i)

f l u x f l u x f l u x f l u x

s
u
b
a

In [17]:
hobbies = []

my_hobbies = ['cycing','playing','dancing']
for i in my_hobbies:
    hobbies.append(i)
    
print(hobbies)

['cycing', 'playing', 'dancing']

In [19]:
hobby = []

hobbies = input('what is ur fav hobbies ? ')

for i in range(len(hobby)):
    hobby.append(hobbies[i])
    
print(hobbies)

what is ur fav hobbies ? dance
dance

In [22]:
hobby = []



for i in range(3):
    hobbies = input('what is ur fav hobbies ? ')
    hobby.append(hobbies)
    
print(hobby)

what is ur fav hobbies ? ds
what is ur fav hobbies ? dsa
what is ur fav hobbies ? ds
['ds', 'dsa', 'ds']

In [23]:
x = 'thiliban'
for i in x:
    print(i, end = " ")

t h i l i b a n

In [27]:
x = 'suba'
for i in range(len(x)):
    if x[i] == 's':
        x[i], 'a' = 'a' , x[i]
        
print(x)

SyntaxError: cannot assign to literal (<ipython-input-27-ab91857721e5>, line 4)

In [38]:
xxx = 'fluxx'
for i in xxx:
    print(i, end = " ")
    
a =print(i)
#b = list(a)
list(xxx)
print(" ".join(list(xxx)))

f l u x x x
f l u x x

In [55]:
c ='name'
for i in range(len(c)):
    if c[i] == 'n':
        c = c.replace(c[i],'a')
        print(c)
        break
        
    else:
        print('its okay')

aame

In [61]:
x = 'subaa'
for i in x:
    if i == 's':
        print('a',end =" ")
        
    else:
        print(i, end = " ")

a u b a a

In [62]:
list1 = [1,2,3,4,5]
squared = []

for i in list1:
    squared.append(i*i)
    
print(squared)

[1, 4, 9, 16, 25]