In [1]:
def length(x):
    return len(x)

In [2]:
names = ['thiliban', 'xxxx', 'fluxpavilion', 'yyyy']
len_names = [length(i) for i in names]
len_names

[8, 4, 12, 4]

According to the python developers, list comprehensions are most readable and maintanable, we can also create a list, dictionary using list comprehension, dictionary comprehension,. instead of square brackets if we use () we can able to use of generators!

Inside the list comprehension we can also use of expressions, we can able to use the arithmetic contribution, functions, other operations! 

[ <expression> <for loop> <if condition>] --> this is one of the complicated syntax! as we go deep, we can also able to use nested for loop inside of square brackets! 

We

In [3]:
def string_check(x):
    if type(x) is str:
        return True
    else : return False

In [4]:
type('flux') == str

True

In [5]:
type('flux')

str

In [6]:
names = ['thiliban', 'xxxx', 'fluxpavilion', 'arijthsingh', 1, 2]

In [7]:
string_check = [string_check(i) for i in names]
string_check

[True, True, True, True, False, False]

In [8]:
def palindrome(x):
    if x == x[::-1]:
        
        return True
    else:
        return False

In [9]:
palindrome('dad')
palindrome('vikatakavi')

False

In [10]:
words = ['dad','mom','vikatakavi','dod','xxx']
palindrom_check = [word for word in words if palindrome(word)]
palindrom_check

['dad', 'mom', 'dod', 'xxx']

In [12]:
for i in 'thiliban' : print(i, end = " ")

t h i l i b a n

In [13]:
for i in range(1,11): print(i*i, end = " ")

1 4 9 16 25 36 49 64 81 100

In [15]:
[i+j for i in 'thiliban' for j in 'thiliban']

['tt',
 'th',
 'ti',
 'tl',
 'ti',
 'tb',
 'ta',
 'tn',
 'ht',
 'hh',
 'hi',
 'hl',
 'hi',
 'hb',
 'ha',
 'hn',
 'it',
 'ih',
 'ii',
 'il',
 'ii',
 'ib',
 'ia',
 'in',
 'lt',
 'lh',
 'li',
 'll',
 'li',
 'lb',
 'la',
 'ln',
 'it',
 'ih',
 'ii',
 'il',
 'ii',
 'ib',
 'ia',
 'in',
 'bt',
 'bh',
 'bi',
 'bl',
 'bi',
 'bb',
 'ba',
 'bn',
 'at',
 'ah',
 'ai',
 'al',
 'ai',
 'ab',
 'aa',
 'an',
 'nt',
 'nh',
 'ni',
 'nl',
 'ni',
 'nb',
 'na',
 'nn']

#SYNTAX for List comprehension, nested ones.

[ expression for target1 in iterable1 if condition1
for target2 in iterable2 if condition2 ...
for targetN in iterableN if conditionN ]

In [23]:
[[i, j] for i in [1,2,3,4,5] if i%2 == 0 for j in [6,7,8,9,10] if j%2 == 0 ] #NESTED FOR LOOP and IF STATEMENTS!!!

[[2, 6], [2, 8], [2, 10], [4, 6], [4, 8], [4, 10]]

In [24]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [25]:
list(filter(lambda x : x % 2 == 0, range(10)))

[0, 2, 4, 6, 8]

In [27]:
res = []
for x in range(10):
    if x % 2 == 0:
        res.append(x)
        
print(res)

[0, 2, 4, 6, 8]

In [28]:
#HOW TO USE MAP and FILTER together as one line/function! 

list(map((lambda x : x**2), filter((lambda x : x%2 == 0), range(10))))

[0, 4, 16, 36, 64]